
{% extends 'base.html.twig'%}


{% block title %} Symphart symfony {% endblock %}

{% block body %}
{% if articles %}

 <table id="articles" class="table table-striped">
      <thead>
        <tr>
          <th>Article Title</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>

      {% for article in articles%}

      <tr>
         <td>{{ article.title}}</td>
         <td>
         <a href="article/{{article.id}}" class="btn btn-dark" >Show </a>
         </td>
      </tr>

      {% endfor %}

      </tbody>
</table>

{% else %}
<p>No Articles </p>


{% endif %}



{% endblock %}